
    <link href="../../public/stylesheets/UpdateStadium.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <% layout('layouts/boilerplate') %>
    <div class="index-page-container">
        <!-- <% for(let i=0;i<5;i++){%> -->
            <div class="field-card card">
                <div class="field-card__header">
                    <img
                        src="https://cdn.pixabay.com/photo/2020/06/30/19/42/the-soccer-field-5357418_1280.jpg"
                        alt=""
                        class="field-card__header__img"
                    />
                    <div class="icon-bar">
                        <a href="../Owner/UpdateForm.ejs"><i class="bi bi-pencil-square"></i></a>
                        <a href="../Owner/Form.ejs"><i class="bi bi-trash3"></i></a>
                      </div>
                </div>
                <div class="field-card__content">
                    <div class="field-card__content__title">
                        Sân bóng Yên Hòa - Cầu Giấy
                    </div>
                    <div class="field-card__content__number-rating">
                        <p>Số người: 7</p>
                        <p>⭐⭐⭐⭐⭐</p>
                    </div>
                    <div class="field-card__content__price">
                        <p>Giá : </p>
                        <p class="field-card__content__price--orange">
                            &nbsp; 300.000đ - 1000.000đ &nbsp;
                        </p>
                        <p>/ Trận</p>
                    </div>
        
                    <div class="field-card__content__additional">
                        <p>
                            <i class="bi bi-check2"></i>
                            Wifi
                            &emsp; 
                        </p>
                        <p>
                            <i class="bi bi-check2"></i>
                            Căng tin
                        </p>
                    </div>
                </div>
            </div>
        <!-- <%}%> -->
    </div>


