<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FieldFootBall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/">Trang chủ</a>
            <a class="nav-link" href="/">Sân bóng</a>
            <a class="nav-link" href="#">Tìm đồng đội</a>
        </div>

        <div class="navbar-nav ms-auto">
          <a href="#" class="nav-link" onclick="document.getElementById('id03').style.display='block'">Form đăng ký thành viên</a>
          <% if (!currentUser) { %> 
          <a href="#" class="nav-link" onclick="document.getElementById('id01').style.display='block'">Đăng nhập</a>
          
          <a href="#" class="nav-link"  onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Đăng ký</a>
          <% } else {%>
          <a href="/accounts/logout" class="nav-link">Đăng xuất</a>
          <% }%>
        </div>
    </div>
    </div>
</nav>