<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FieldFootBall</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/fields">Trang chủ</a>
            <a class="nav-link" href="#">Tìm đồng đội</a>
            <% if (currentUser && currentUser.accountType === 'Admin') {%>
            <a class="nav-link" href="/fields/owner">Sân bóng</a>
            <%}%>
        </div>

        <div class="navbar-nav ms-auto">
          <a href="#" class="nav-link" onclick="blockForm('id05', 'idLogin', 'idRegister')">Form đăng ký thành viên</a>
          <% if (!currentUser) { %> 
          <a href="#" class="nav-link" onclick="blockForm('idLogin', 'id05', 'idRegister')">Đăng nhập</a>
          
          <a href="#" class="nav-link"  onclick="blockForm('idRegister', 'idLogin', 'id05')" style="width:auto;">Đăng ký</a>
          <% } else {%>
          <a href="/accounts/logout" class="nav-link">Đăng xuất</a>
          <% }%>
        </div>
    </div>
    </div>
</nav>
<script>
  function blockForm(formBlock, formNone1, formNode2){
    document.getElementById(formBlock).style.display='block';
    document.getElementById(formNone1).style.display='none';
    document.getElementById(formNode2).style.display='none';
  }
</script>