<link href="../../public/stylesheets/index.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>


    <h1>This is index page</h1>
    <div class="index-page-container">
        <% for(let i=0;i<20;i++){%>
            <div class="field-card card">
                <div class="field-card__header">
                    <img
                        src="https://cdn.pixabay.com/photo/2020/06/30/19/42/the-soccer-field-5357418_1280.jpg"
                        alt=""
                        class="field-card__header__img"
                    />
                </div>
                <div class="field-card__content">
                    <div class="field-card__content__title">
                        Sân bóng Yên Hòa - Cầu Giấy
                    </div>
                    <div class="field-card__content__number-rating">
                        <p>Số người: 7</p>
                        <p>⭐⭐⭐⭐⭐</p>
                    </div>
                    <div class="field-card__content__price">
                        <p>Giá </p>
                        <p class="field-card__content__price--orange">
                            300.000đ - 1000.000đ
                        </p>
                        <p>/ Trận</p>
                    </div>
        
                    <div class="field-card__content__additional">
                        <p>🗸wifi</p>
                        <p>🗸căng tin</p>
                    </div>
                </div>
            </div>
        <%}%>
    </div>

