<link href="/stylesheets/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<% layout('layouts/boilerplate') %>
    <h1>this is search form</h1>
    <div class="search-dropdown-container">
      <div class="dropdown">
          <!-- <button onclick="myFunction()" class="dropbtn"> -->
          <button class="dropbtn">
              <div id="choosen" class="choosen3">Dropdown</div>
              <div><i class="bi bi-caret-down-fill"></i></div>
          </button>
          <div id="myDropdown" class="dropdown-content">
              <input
                  type="text"
                  placeholder="Search.."
                  id="myInput"
                  onkeyup="filterFunction()"
              />
              <a class="option" href="#about">About</a>
              <a class="option" href="#base">Base</a>
              <a class="option" href="#blog">Blog</a>
              <a class="option" href="#contact">Contact</a>
              <a class="option" href="#custom">Custom</a>
              <a class="option" href="#support">Support</a>
              <a class="option" href="#tools">Tools</a>
          </div>
      </div>
      <div class="dropdown">
          <!-- <button onclick="myFunction()" class="dropbtn"> -->
          <button class="dropbtn">
              <div id="choosen1">Dropdown</div>
              <div><i class="bi bi-caret-down-fill"></i></div>
          </button>
          <div class="dropdown-content-container">
              <div id="myDropdown1" class="dropdown-content">
                  <input
                      type="text"
                      placeholder="Search.."
                      id="myInput"
                      onkeyup="filterFunction()"
                  />
                  <a class="option" href="#about">About</a>
                  <a class="option" href="#base">Base</a>
                  <a class="option" href="#blog">Blog</a>
                  <a class="option" href="#contact">Contact</a>
                  <a class="option" href="#custom">Custom</a>
                  <a class="option" href="#support">Support</a>
                  <a class="option" href="#tools">Tools</a>
              </div>
          </div>
      </div>
      <div class="dropdown">
          <!-- <button onclick="myFunction()" class="dropbtn"> -->
          <input id="input-nameField" class="dropbtn" type="text" placeholder="nhập tên sân">
      </div>
      <div class="submit-searchForm">
          <button class="submit-searchForm__btn">tìm kiếm</button>
      </div>
  </div>
    <!-- ------------------------------------------------------------------------ -->
    <h1>This is index page</h1>
    <div class="index-page-container">
        <% for(let i=0;i<20;i++){%>
            <div class="field-card card">
                <div class="field-card__header">
                    <img
                        src="https://cdn.pixabay.com/photo/2020/06/30/19/42/the-soccer-field-5357418_1280.jpg"
                        alt=""
                        class="field-card__header__img"
                    />
                </div>
                <div class="field-card__content">
                    <div class="field-card__content__title">
                        Sân bóng Yên Hòa - Cầu Giấy
                    </div>
                    <div class="field-card__content__number-rating">
                        <p>Số người: 7</p>
                        <p>⭐⭐⭐⭐⭐</p>
                    </div>
                    <div class="field-card__content__price">
                        <p>Giá </p>
                        <p class="field-card__content__price--orange">
                            300.000đ - 1000.000đ
                        </p>
                        <p>/ Trận</p>
                    </div>
        
                    <div class="field-card__content__additional">
                        <p>🗸wifi</p>
                        <p>🗸căng tin</p>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
    <script src="/javaScript/dropDownFormJs.js"></script>

