<link href="/stylesheets/new.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<% layout('/layouts/boilerplate')%>
    <div id="id04" class="modal4">
        <h3>Thêm mới sân</h3>
        <form class="modal-content" action="/fields" method="POST" enctype="multipart/form-data">

            <div class="page-content">
                <div class="page-content-left">
                    <div class="row">
                        <label for="name" class="labels">Tên sân bóng:</label>
                        <input type="text" id="name" name="field[name]" placeholder="Tên sân bóng" require>
                    </div>

                    <div class="row">
                        <label for="category" class="labels">Số người: </label>
                        <input type="number" id="category" name="field[category]" placeholder="Số người" min=5 require>
                    </div>

                    <div class="row">
                        <label for="address" class="labels">Địa điểm: </label>
                        <input type="text" id="address" name="field[address]" placeholder="Địa điểm" require>
                    </div>

                    <div class="row">
                        <label for="utilities" class="labels">Tiện ích: </label>
                        <input type="text" id="utilities" name="field[utilities]" placeholder="Tiện ích">
                    </div>

                    <div class="row">
                        <label for="description" class="labels">Mô tả: </label>
                        <textarea id="subject" name="field[description]" placeholder="Mô tả..."
                            style="height:100px; width: 200px;"></textarea>
                    </div>
                </div>
                <div class="page-content-right">
                    <div class="choose-image">
                        <div class="input-group">
                            <input type="file" class="form-control" id="images" name="images" aria-describedby="images"
                                aria-label="Upload" multiple>
                        </div>
                    </div>
                    <div class="container" id="time">
                        <div class="atTime">
                            <div class="Time">
                                <label for="startTime" class="Time">Giờ bắt đầu: </label>
                                <input type="time" id="startTime" name="price[start]" min="00:00" max="23:59" required>
                            </div>
                            <div class="Time">
                                <label for="endTime" class="Time">Giờ kết thúc: </label>
                                <input type="time" id="endTime" name="price[end]" min="00:00" max="23:59" required>
                            </div>
                            <div class="Time">
                                <label for="price" class="Time">Giá: </label>
                                <input class="prices" type="number" id="price" name="price[price]" min="100 000" required>
                                <label for="price" class="Time">VND </label>
                            </div>
                        </div>
                    </div>
                    <div class="Time">
                        <button class="submitbtn" id="add-input-price" type="button">Thêm giá</button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-add">Thêm sân</button>
        </form>
    </div>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/insertInputPrice.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('id04');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
