<link href="/stylesheets/detail-page.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>

  <div class="search-dropdown-container">
    <div class="dropdown">
      <!-- <button onclick="myFunction()" class="dropbtn"> -->
      <button class="dropbtn">
        <div id="choosen" class="choosen3">Dropdown</div>
        <div><i class="bi bi-caret-down-fill"></i></div>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" />
        <a class="option" href="#about">About</a>
        <a class="option" href="#base">Base</a>
        <a class="option" href="#blog">Blog</a>
        <a class="option" href="#contact">Contact</a>
        <a class="option" href="#custom">Custom</a>
        <a class="option" href="#support">Support</a>
        <a class="option" href="#tools">Tools</a>
      </div>
    </div>
    <div class="dropdown">
      <!-- <button onclick="myFunction()" class="dropbtn"> -->
      <button class="dropbtn">
        <div id="choosen1">Dropdown</div>
        <div><i class="bi bi-caret-down-fill"></i></div>
      </button>
      <div class="dropdown-content-container">
        <div id="myDropdown1" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" />
          <a class="option" href="#about">About</a>
          <a class="option" href="#base">Base</a>
          <a class="option" href="#blog">Blog</a>
          <a class="option" href="#contact">Contact</a>
          <a class="option" href="#custom">Custom</a>
          <a class="option" href="#support">Support</a>
          <a class="option" href="#tools">Tools</a>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <!-- <button onclick="myFunction()" class="dropbtn"> -->
      <input id="input-nameField" class="dropbtn" type="text" placeholder="nhập tên sân">
    </div>
    <div class="submit-searchForm">
      <button class="submit-searchForm__btn">tìm kiếm</button>
    </div>
  </div>

  <div class="detail-page detail-page-container">
    <div class="detail-page__header">
      <div class="detail-page__header__path">
        Trang chủ -> Hà nội -> Cầu Giấy -> Sân bóng đá cỏ mini nhân tạo
      </div>
      <div class="detail-page__header--order">
        <div class="detail-page__header--order__title">
          <div>Sân bóng đá cỏ mini nhân tạo</div>
          <div>⭐⭐⭐⭐⭐</div>
        </div>
        <div class="detail-page__header--order__button">
          <button class="detail-page__header--order__button--btn">
            Đặt sân
          </button>
        </div>
      </div>
    </div>
    <div class="detail-page__information">
      <div class="detail-page__information__pic">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://na-dache.pro/uploads/posts/2021-05/1620984706_18-p-greipfrut-foto-20.jpg"
                alt="Los Angeles" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
                alt="Chicago" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg"
                alt="New York" class="d-block w-100">
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

      </div>
      <div class="detail-page__information__detail">
        <div class="address">Đây là địa chỉ nè</div>
        <div class="price">Đây là giá nè</div>
        <div class="additional">
          <div>Đây là tiện ích nè</div>
          <ul>
            <li>Wifi</li>
            <li>Căng tin</li>
            <li>Thuê đồ</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="detail-page__introduction">
      <h1>Giới thiệu</h1>
      <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, asperiores veritatis consequatur neque,
        libero,
        quibusdam alias velit quia ex accusantium exercitationem odio sit earum porro recusandae tenetur consectetur
        dolorem mollitia?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum explicabo perspiciatis
        nostrum
        eaque est tempore officiis cumque, quasi soluta voluptas expedita exercitationem quod minus, voluptate dolores?
        Explicabo adipisci laboriosam nesciunt!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum obcaecati ea voluptates. Voluptatibus maxime
        esse,
        corporis vero dolorum molestias voluptas. Necessitatibus tenetur perspiciatis ratione, ducimus repellendus
        nobis?
        Ipsam, earum dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem neque maiores ut
        voluptatum
        voluptate eius aut. Omnis corporis tempora aliquam iure illum ex id tempore, mollitia, ut vel reprehenderit?
      </span>
    </div>
    <div class="detail-page__map">
      <h1>Bản đồ chỉ đường</h1>
      <div class="detail-page__map__direction">

      </div>
    </div>
    <div class="detail-page__review">
      <h1>Đánh giá</h1>
      <div class="detail-page__review--detail">
        Đánh giá sẽ xuất hiện ở đây
      </div>
    </div>


  </div>
  </div>