*{
    font-family: Arial, Helvetica, sans-serif;
    
}
h2{
    margin-left: 10%;
    margin-right: 10%;
}
.page-content{
    margin-left: 10%;
    margin-right: 10%;
}
/* Change information for yourself */
.page-content_top-body{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
hr{
    color: #C4C4C4;
    background-color:#C4C4C4;
}
.name_order, .number-phone_order{
    line-height: 1.5;
}
.time_order{
    display: flex;
    line-height: 1.5;
}
.code_order{
    display: flex;
    line-height: 1.5;
}
.address_order{
    display: flex;
    line-height: 1.5;
}
/* Change information field */
.page-content_bottom-body{
    display: flex;
    
}
.detail-field_order{
    margin-left: 10px;
}
.name-field_order{
    font-weight: bold;
    font-size: 18px;
    line-height: 2.5;
}
.page-content_bottom-body img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
}
.time-field_order{
    display: flex;
    line-height: 1.5;
    color: #C4C4C4;
}
.people-number_order{
    display: flex;
    line-height: 1.5;
    color: #C4C4C4;
}
/* Change bill orders */
.into-money_order{
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
}
.into-money_order label{
    color: #2D9AFF;
}
.payment-method_order{
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
}
.payment-method_order label{
    color: #2D9AFF;
}

/* Change button contact and delete field cards */
.btn_order{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.btn_order .btn-form_order{
    width: 200px;
    height: 150%;
    color: #fff;
    border-radius: 20px;
    
    margin-bottom: 10px;
    font-weight: lighter;
    border: none;
    font-size: 20px;
}