*{
    font-family: arial;
}
.page-content{
    
    display: flex;
}
.page-content-right{
    justify-content : space between;
    /* display: flex; */
}
.page-content-left{
    justify-content : space between;
}
.choose-image{
    border: 1px solid #000000;
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 5px;
    width: 110%;
    height: 50%;
}
.choose-image input{
    /* margin-left: auto;
    margin-right: auto;
    text-align: center; */
    padding: 40px;
}

.row{
    margin-top: 6px;
    margin-bottom: 16px;
}
.labels{
    display: inline-block;
    width: 130px;

}
.row input{
    width: 200px;
}
.atTime{
    display: flex;
    border: 1px solid #000000;
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 5px;
    width: 110%;
    font-size: 12px;
    height: 50%;
}
.atTime .Time{
    padding: 10px;
}
.atTime .Time .prices{
    width: 70px;
}
.submitbtn{
    background-color: #1890ff;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    height: 23px;
    margin-top: auto;
    margin-bottom: auto;
}
.submitbtn:hover {
    background-color: #0171da;
  }
.modal4 {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  .btn-add{
    background-color: #1890ff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
.btn-add:hover {
    background-color: #da4d01;
  }

 /* Change styles for add button on extra small screens */
@media screen and (max-width: 300px) {
    .btn-add {
       width: 100%;
    }
  }