
#orderField-Form{
     width: 350px;
     /* margin-left: calc((calc(100%-350px))/2);
     margin-right: calc((calc(100%-350px))/2); */
     margin: auto;
     margin-top: calc(100vh/4);
} 

#orderField-Form--day--price{
     width: 350px;
     /* margin-left: calc((calc(100%-350px))/2);
     margin-right: calc((calc(100%-350px))/2); */
     margin: auto;
}



.orderField-Form--Time--dropdown--dropbtn {
     background-color: #04AA6D;
     color: white;
     width: 30px;
     height: 20px;
     font-size: 10px;
     text-align: center;
     border: none;
     cursor: pointer;
   }
   
   .orderField-Form--Time--dropdown--dropbtn:hover, .orderField-Form--Time--dropdown--dropbtn:focus {
     background-color: #3e8e41;
   }
   
   #myInput {
     box-sizing: border-box;
     background-position: 14px 12px;
     background-repeat: no-repeat;
     font-size: 16px;
     padding: 14px 20px 12px 45px;
     border: none;
     border-bottom: 1px solid #ddd;
   }
   
   .orderField-Form--Time--dropdown {
     position: relative;
     display: inline-block;
   }
   
   .orderField-Form--Time--dropdown-content {
     display: none;
     position: absolute;
     background-color: #f6f6f6;
     width: 100px;
     overflow: auto;
     border: 1px solid #ddd;
     z-index: 1;
   }
   
   .orderField-Form--Time--dropdown-content p {
     color: black;
     padding: 6px 8px;
     text-decoration: none;
     display: block;
   }
   
   .show {display: block;}

   .orderField-Form--day--container, .orderField-Form--Time--container{
        margin-bottom: 3px;
   }

   #orderField-Form--Time, #orderField-Form--day {
     width: 200px;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 20px;
     resize: vertical;
   }

   
   .order-field-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
   }

   .label--container{
        width: 100px;
   }

   .orderField--btn{
     
          background-color: #EC1717; /* Green */
          border: none;
          color: white;
          padding: 8px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 8px;
          margin-left: calc(calc((calc(100%-350px))/2) + 70px); 
          margin-top: 10px;
        
   }
   
   .orderField--title{
     margin-left: 40%; 
     position: relative;
     top: 130px;
   }