
<link href="/stylesheets/Information.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>
    <div class="page-content_info">
        <h2 class="title-login">CẬP NHẬT THÔNG TIN</h2>
        <div class="container5">
            <div class="rowInfo">
              <div class="col-25-Info">
                <label for="fname">Họ và tên</label>
              </div>
              <div class="col-75-Info">
                <input class="inputInformation" type="text" id="fname" name="firstname" onfocus="this.value=''" value="Blabla" require>
              </div>
            </div>
      
            <div class="rowInfo">
              <div class="col-25-Info">
                <label for="start">Ngày sinh</label>
              </div>
              <div class="col-75-Info">
                <input class="inputInformation" type="date" name="begin"  placeholder="Nhập ngày sinh" value="" min="1900-01-01" max="2020-12-31" require>
              </div>
            </div>
      
            <div class="rowInfo">
              <div class="col-25-Info">
                <label for="country">Nơi ở</label>
              </div>
              <div class="col-75-Info">
                <select class="inputInformation" id="country" name="country" require>
                  <option value="DaNang">Đà Nẵng</option>
                  <option value="HaNoi">Hà Nội</option>
                  <option value="HoChiMinh">Hồ Chí Minh</option>
                </select>
              </div>
            </div>
      
            <div class="rowInfo">
              <div class="col-25-Info">
                <label for="email">Email</label>
              </div>
              <div class="col-75-Info">
                <input class="inputInformation" type="text" id="email" placeholder="Email" name="email" required>
              </div>
            </div>
      
            <div class="rowInfo">
              <div class="col-25-Info">
                <label for="phone">Số điện thoại</label>
              </div>
              <div class="col-75-Info">
                <input class="inputInformation" type="text"  placeholder="Số điện thoại" name="tel" required maxlength="10">
              </div>
            </div>
      
            <div class="clearfixInfo">
              <button type="button" onclick="document.getElementById('id05').style.display='none'" class="submitbtn3" style="background-color: #f44336;">Huỷ</button>
              <button type="submit" class="submitbtn3">Cập nhật</button>
            </div>
        </div>
      </div>