<link rel="stylesheet" href="/stylesheets/form.css">

<div id="id05" class="modal5">
  <form class="modal5-content animate" action="/action_page.php" method="post">
    <div class="cancelcontainer">
      <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Thoát">&times;</span>
    </div>
    <h2 class="title-login">ĐĂNG KÝ THÀNH VIÊN</h2>
    <div class="container5">
      <div class="row">
        <div class="col-25">
          <label for="fname">Họ và tên</label>
        </div>
        <div class="col-75">
          <input class="inputInfor" type="text" id="fname" name="firstname" placeholder="Nhập họ và tên..." require>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="start">Ngày sinh</label>
        </div>
        <div class="col-75">
          <input type="date" name="begin"  placeholder="Nhập ngày sinh" value="" min="1900-01-01" max="2020-12-31" require>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="country">Nơi ở</label>
        </div>
        <div class="col-75">
          <select class="inputInfor" id="country" name="country" require>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input class="inputInfor" type="text" id="email" placeholder="Email" name="email" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="phone">Số điện thoại</label>
        </div>
        <div class="col-75">
          <input class="inputInfor" type="text"  placeholder="Số điện thoại" name="tel" required maxlength="10">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="address">Địa chỉ sân</label>
        </div>
        <div class="col-75">
          <input class="inputInfor" type="text"  placeholder="Địa chỉ sân" name="address" required maxlength="10">
        </div>
      </div>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn">Cancel</button>
        <button class="btn-submit" type="submit" class="submitbtn">Gửi</button>
      </div>
    </div>

    <!-- <div class="container5" style="background-color: #f1f1f1">
      <button
        type="button"
        onclick="document.getElementById('id02').style.display='none'"
        class="registerbtn"
      >
        Đăng kí
      </button>
      
    </div> -->
  </form>
</div>

<script>
  // Get the modal5
  var modal5 = document.getElementById("id05");

  // When the user clicks anywhere outside of the modal5, close it
  window.onclick = function (event) {
    if (event.target == modal5) {
      modal5.style.display = "none";
    }
  };
</script>
