<link href="/stylesheets/orderFieldForm.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>
<h2 class="orderField--title">Mời bạn chọn ngày đặt sân</h2>
<form id="orderField-Form">
    <div class="order-field-row">
        <div class="label--container">
            <label for="orderField-Form--day"><b>Ngày Đặt:</b></label>
        </div>

        <input
            type="date"
            id="orderField-Form--day"
            name="orderField-Form--day--name"
        />
    </div>
    <div class="order-field-row">
        <div class="label--container">
            <label for="orderField-Form--day"><b>Giờ Trống:</b></label>
        </div>

        <form>
            <select
                id="orderField-Form--Time"
                name="orderField-Form--Time--name"
            >
                <option value="7:00-8:00">7:00-8:00</option>
                <option value="12:00-13:00">12:00-13:00</option>
                <option value="12:00-13:00">14:00-15:00</option>
            </select>
        </form>
    </div>
    <div id="orderField-Form--day--price"><b>Giá:</b> 200000đ</div>
</form>
<button class="orderField--btn">Đặt sân</button>
