<link href="/stylesheets/orderFieldForm.css" rel="stylesheet" type="text/css">
<% layout('layouts/boilerplate') %>
    <div class="col-6 offset-3">
        <form class="modal-orderField" action="/bookings/<%=id%>" method="post">
            <h2 class="orderField--title">Mời bạn chọn ngày đặt sân</h2>
            <div class="order-field-row">
                <div class="label--container">
                    <label for="orderField-Form--day"><b>Ngày Đặt:</b></label>
                </div>

                <input type="date" id="orderField-Form--day" name="date" value="<%=today%>" />
            </div>
            <div class="order-field-row">
                <div class="label--container">
                    <label for="orderField-Form--Time"><b>Giờ Trống:</b></label>
                </div>

                <select id="orderField-Form--Time" name="time">
                </select>

            </div>
            <div id="orderField-Form--day--price"></div>
            <button class="btn btn-danger">Đặt sân</button>
        </form>
    </div>
   <script>
        id = '<%-id%>';
   </script>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/orderForm.js"></script>